#group-content {
  width: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;

}

#group-content div {
  display: flex;
  border: 1px solid blue;
  justify-content: space-between;
}

#jgp, #non-jgp {
  width: 100%;
}
